body {
    background-color: #F3F3F3;
    padding: 0;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}

* {
    text-decoration: none;
}

.footer {
    background-color: transparent;
    padding-top: 100px;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    color: #FF4E00;
}

.header {
    text-align: center;
    padding: 100px;
    color: #FF4E00;
}


.header h1 {
    font-size: 70px;
}

.lorem {
    background-color: white;
    border-radius: 150px;
    padding-top: 100px;
}

.lorem p {
    padding: 100px;
    margin-left: 20%;
    margin-right: 20%;
}

nav {
    background-color: #FF4E00;
    position: fixed;
    width: 100%;
    padding: 10px;
    text-align: center;
}

nav li {
    list-style-type: none;
    display: inline;
    margin: 10px;
}

nav li a {
    color: rgba(255, 255, 255, 0.342);
    font-size: 20px;
    transition: 0.1s;
}

nav li a:hover {
    list-style-type: none;
    display: inline;
    color: rgba(255, 255, 255, 0.541);
    transition: 0.1s;
}

.active {
    color: white !important;
    border-bottom: solid 2px white;
}




