body {
    background-color: #F3F3F3;
    padding: 0;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}

.footer {
    background-color: transparent;
    padding: 10px;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    color: #FF4E00;
}

.header {
    text-align: center;
    padding: 100px;
    color: #FF4E00;
}


.header h1 {
    font-size: 70px;
}

.klik {
    float: center;
    justify-content: center;
    display: flex;
    transition: 0.1s
}

.klik:hover {
    background-color: #FF4E00;
    transition: 0.1s
}

